In [11]:
from sqlalchemy import create_engine, text
import pymysql
import pandas as pd
import plotly.express as ex

In [4]:
user = "bigdata"
password = "Bigdata123!!"
host = "192.168.56.101"
port = "3306"
db = "SampleDB"
connect_script = f'mysql+pymysql://{user}:{password}@{host}:{port}/{db}'
#connect_script
engine = create_engine(connect_script)

In [5]:
conn = engine.connect()

In [6]:
#self DB로 접속함

In [7]:
qry = """
select * from 학생평가
"""
pd.read_sql(qry,conn)

           학번   이름  점수    조이름
0   201501001  김수현  90  T2015
1   201501002  송혜교  75   무한도전
2   201501003  하지원  77    학교짱
3   201501004  장근석  85  T2015
4   201501005  이종석  96    BIG
5   201501006   주원  80    베스트
6   201501007  박보영  95    BIG
7   201501008  한효주  90    학교짱
8   201501009  송중기  83  T2015
9   201501010  김우빈  88    베스트
10  201501011  이연희  75    학교짱
11  201501012  유승호  84    BIG
12  201501013  박신혜  89   무한도전
13  201501014  한지민  94    베스트
14  201501015  이승기  78   무한도전

In [8]:
#밑에 자료 추가하기

In [9]:
stmt = """
insert into 학생평가(
학번, 
이름, 
점수, 
조이름) 
values(
201501016,
'유지현',
100,
'빅데이터'
)
"""
conn.execute(text(stmt))

In [10]:
qry = """
select * from 학생평가
where 점수 = (select max(점수) from 학생평가
)
"""
pd.read_sql(qry,conn)

          학번   이름   점수   조이름
0  201501016  유지현  100  빅데이터

In [149]:
qry = """
select a.* from 학생평가 a, (select max(점수) as 점수 from 학생평가) b
where a.점수 = b.점수    
"""
qryqry=pd.read_sql(qry,conn) ###"""{}"""마크다운 안에는 sql문이 들어가서 데이블 정보를 불러 올수 있다.

In [151]:
type(qryqry)

pandas.core.frame.DataFrame

In [13]:
dir(ex.data)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'absolute_import',
 'carshare',
 'election',
 'election_geojson',
 'experiment',
 'gapminder',
 'iris',
 'medals_long',
 'medals_wide',
 'stocks',
 'tips',
 'wind']

In [142]:
df = ex.data.gapminder()

In [147]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [18]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
iso_alpha     object
iso_num        int64
dtype: object

In [19]:
#테이블 만들기

In [21]:
stmt = """
create table world
(country varchar(50),
 continent varchar(50),
 year int,
 pop int
)
"""
conn.execute(text(stmt))

In [22]:
pd.read_sql("select * from world",conn)

Empty DataFrame
Columns: [country, continent, year, pop]
Index: []

In [23]:
x = df.loc[[0],["country","continent","year","pop"]].to_dict('r')[0]

/tmp/ipykernel_16453/821947718.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  x = df.loc[[0],["country","continent","year","pop"]].to_dict('r')[0]

In [24]:
x

{'country': 'Afghanistan', 'continent': 'Asia', 'year': 1952, 'pop': 8425333}

In [ ]:
# x를 딕셔너리로 바꾼 이유: 넣기 편함

In [26]:
stmt = """
insert into world(
country,
continent,
year,
pop
)
values(
:country,
:continent,
:year,
:pop
)
"""
conn.execute(text(stmt),**x)

In [27]:
pd.read_sql("select * from world",conn)

       country continent  year      pop
0  Afghanistan      Asia  1952  8425333

In [28]:
#정보뽑아오기

In [41]:
name = input("학생이름을 입력하세요")
qrt = f"select * from 학생평가 where 이름 = '{name}'"
df = pd.read_sql(qry,conn)
if len(df) > 0:
    print(df)
else:
    print("조회하려는 학생이 없습니다")

학생이름을 입력하세요 김태완

          학번   이름   점수   조이름
0  201501017  김태완  110  None

In [154]:
첫번째 = input("학번")
두번째 = input("이름")
세번째 = int(input("점수"))
stmt = """
insert into 학생평가(
학번,
이름,
점수
)values(
:x1,
:x2,
:x3
)
"""
df1 = pd.read_sql("select count(*) as cnt from 학생평가",conn) ###sql문을 읽으려면 pandas가 필요해
df1 = df1.loc[:,'cnt'][0]
dt = {"x1":첫번째,"x2":두번째,"x3":세번째}
conn.execute(text(stmt),**dt) ###Eval하나의 식을 계산하여 반환, Execute문자열을 코드로 실행
df = pd.read_sql("select count(*) as cnt from 학생평가",conn)
df = df.loc[:,'cnt'][0]
if df > df1:
        print(f'{두번째}학생정보의 입력이 잘 되었습니다')

학번
이름
점수

ValueError: invalid literal for int() with base 10: ''

In [38]:
df1 = pd.read_sql("select count(*) as cnt from 학생평가",conn)
df1.loc[:,'cnt'][0] == 16

True

In [42]:
#자동으로 학번 추가하기

In [54]:
stmt = """
select max(학번) as max  #최고값의 학번을 뽑아서(데이터desc보면 char임)
 from 학생평가
"""
str(int(pd.read_sql(stmt,conn).loc[:,'max'][0])+1) #숫자로 변환해 더하고 다시 문자로

'201501019'

In [136]:
두번째 = input("이름")
세번째 = int(input("점수"))

stmt = """
select max(학번) as max
 from 학생평가
"""
첫번째=str(int(pd.read_sql(stmt,conn).loc[:,'max'][0])+1)

stmt = """
insert into 학생평가(
학번,
이름,
점수
)values(
:x1,
:x2,
:x3
)
"""
df1 = pd.read_sql("select count(*) as cnt from 학생평가",conn)
df1 = df1.loc[:,'cnt'][0]
dt = {"x1":첫번째,"x2":두번째,"x3":세번째}
conn.execute(text(stmt),**dt) ###합치려는 정보가 같은 타입이면 굳이 바꿀 필요는 없다. **는 딕셔너리로 만들어줌.
df = pd.read_sql("select count(*) as cnt from 학생평가",conn)
df = df.loc[:,'cnt'][0]
if df > df1:
        print(f'{두번째}학생정보의 입력이 잘 되었습니다')

이름 흑곰
점수 60

흑곰학생정보의 입력이 잘 되었습니다

In [55]:
#insert는 low단위로 움직인다. 한 칸만 없앨 수 없음.

In [57]:
df = pd.read_sql('select * from 학생평가',conn)

In [60]:
df1 = df.loc[(df.점수 % 3 == 0) & (df.점수 % 5 == 0),:]

In [101]:
df1

Empty DataFrame
Columns: [학번, 이름, 점수, 조이름]
Index: []

##학생평가1 테이블을 생성 "create table 학생평가1 like 학생평가"
## 학생평가1 insert 
insert into 학생평가1(

)values(

)
df1.to_dict('r')
conn.execute(text(stmt)),**dt)

In [65]:
df1.to_dict('r')

/tmp/ipykernel_16453/27468689.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  df1.to_dict('r')

[{'학번': '201501001', '이름': '김수현', '점수': 90, '조이름': 'T2015'},
 {'학번': '201501002', '이름': '송혜교', '점수': 75, '조이름': '무한도전'},
 {'학번': '201501008', '이름': '한효주', '점수': 90, '조이름': '학교짱'},
 {'학번': '201501011', '이름': '이연희', '점수': 75, '조이름': '학교짱'},
 {'학번': '201501018', '이름': '이지은', '점수': 90, '조이름': None}]

In [63]:
type(df1.to_dict('r')[0])

/tmp/ipykernel_16453/3144170504.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  type(df1.to_dict('r')[0])

dict

In [86]:
stmt="create table 학생평가1 like 학생평가"

In [87]:
conn.execute(text(stmt))

OperationalError: (pymysql.err.OperationalError) (1050, "Table '학생평가1' already exists")
[SQL: create table 학생평가1 like 학생평가]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [111]:
df = pd.read_sql("select * from 학생평가",conn)

df1 = df.loc[(df.점수 % 3 == 0) & (df.점수 % 5 == 0),:]

In [112]:
for i in df1.to_dict("records"):  
    print(type(i))

<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>

In [132]:
insert_stmt = """
insert into 학생평가1(
학번,
이름,
점수,
조이름
) values(
:학번,
:이름,
:점수,
:조이름
)
"""
i=0
for dt in df1.to_dict("records"):  ###딕셔너리{}로 만들었다. 
    print(dt)
    conn.execute(text(insert_stmt),**dt)  ### 사전병합, 여러 개의 사전을 합쳐야할 때는 ** 연산자를 사용하여, 
                                          ###중괄호 안에 합칠 사전들을 쉼표(,)로 구분하여 나열하면 됩니다.  
    ###conn = engine.connect()로 줌
    ###dt = {"x1":첫번째,"x2":두번째,"x3":세번째}

{'학번': '201501001', '이름': '김수현', '점수': 90, '조이름': 'T2015'}

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '201501001' for key 'PRIMARY'")
[SQL:
insert into 학생평가1(
학번,
이름,
점수,
조이름
) values(
%(학번)s,
%(이름)s,
%(점수)s,
%(조이름)s
)
]
[parameters: {'학번': '201501001', '이름': '김수현', '점수': 90, '조이름': 'T2015'}]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [138]:
pd.read_sql("select * from 학생평가",conn)

           학번   이름   점수    조이름
0   201501001  김수현   90  T2015
1   201501002  송혜교   75   무한도전
2   201501003  하지원   77    학교짱
3   201501004  장근석   85  T2015
4   201501005  이종석   96    BIG
5   201501006   주원   80    베스트
6   201501007  박보영   95    BIG
7   201501008  한효주   90    학교짱
8   201501009  송중기   83  T2015
9   201501010  김우빈   88    베스트
10  201501011  이연희   75    학교짱
11  201501012  유승호   84    BIG
12  201501013  박신혜   89   무한도전
13  201501014  한지민   94    베스트
14  201501015  이승기   78   무한도전
15  201501016  유지현  100   빅데이터
16  201501017  김태완  110   None
17  201501018  이지은   90   None
18   20220101   백곰   90  노스페이스
19   20220102   흑곰   60   None

In [122]:
stmt = """
select *
 from 학생평가
where 점수 %% 3 =0
 and 점수 %% 5 =0
"""
sum(pd.read_sql("select * from 학생평가1",conn).점수) == sum(pd.read_sql(stmt,conn).점수)

True

In [123]:
def mul(x,y):
    return x-y

In [124]:
di={"x":4,"y":3}

In [128]:
type(di)

dict

In [140]:
mul(**di)

1

dict